@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&display=swap");

// Define variables
$primary-index-color: #fff;
$secondary-index-color: #333;
$long-index-font: 'Montserrat Alternates';
$font-index: 'Montserrat';
$footer-font: 'League Spartan';
$sans-font: 'Open Sans';



// Define mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin h2-extend{
  font-family: $long-index-font;
  font-size: 68px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  
  
  font-style: normal;
      line-height: normal;
}
@mixin alinks-extend{
  font-family: 'League Spartan';
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.3s ease, transform 0.3s ease;

}
// Global styles
body {
  font-family: $long-index-font, $font-index, $footer-font, $sans-font;
  margin: 0;
  padding: 0;
}
.container-web{
  @media (max-width:767px) {
    .squaremart{
      background-image: url("../img/Oval\ 22.svg");
      background-size: contain; /* Adjust to your preference */
      background-position: 10% center; /* Position for the first image */
      // background-repeat: no-repeat;
      padding: 0;
      margin: 0;
      .header {
        background-image: url("../img/Oval\ 22.svg");
        background-size: contain; /* Adjust to your preference */
        background-position: 10% center; /* Position for the first image */
        background-repeat: no-repeat;
        color: $secondary-index-color;
        padding: 0 20px;
        box-shadow: 0 1px 0 1px #fff;
        position: fixed;
        top: 0;
        left: 0;
      z-index: 999;
        right: 0;
        background-color: #fff;
        // Flex container for layout
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .squaremart-logo {
          img {
            max-width: 100%;
            height: auto;
          }
        }
    
        .other-page {
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            li {
              display: inline;
              margin-left: 20px;
            }
    
            a {
              @include alinks-extend;
              color: $secondary-index-color;
            }
          }
        }
    
        .signing-page {
          .sign-in{
            margin-left: 20px;
            display: inline;
            a {
              @include alinks-extend;
              padding: 0 1rem;
              font-size: 17px;
              text-decoration: none;
              color: $secondary-index-color;
            }
            .sign-up{
              border: 1px solid green;
              color: green;
              line-height: 2rem;
              padding: 0.75rem;
              border-radius: 0.50rem;
            }
            .sign-up:hover{
              color: white;
              background-color: green;
            }
          }
        }
      }
      .main-page{
        background-image: url("../img/Oval\ 22.svg");
      background-size: contain; /* Adjust to your preference */
      background-position: 10% center; /* Position for the first image */
      // background-repeat: no-repeat;
        display: grid;
        // top: 50%;
        grid-template-columns: 15% 70% 15%;
        padding: 5rem 0rem;
        // position: absolute;
        .page-content{
          text-align: center;
          h2{
           @include h2-extend;
            span{
              color: rgba(38, 173, 35, 1);
            } 
          }
          p{
            @include alinks-extend;
            font-size: 18px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: center;        
          }
        }
        .e-icon{
          margin-top: 13rem;
        }
      }
    }
    .our-goals{
      
      // padding: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      margin: 1rem;
      .fast-reliable, .online-wallet, .gift-cards{
          justify-self: center;
          .card-logo{
            background: #26AD231A;
            margin: 0 7rem;
            line-height: 7rem;
            img{
              width: 80%;
          }
          }
          .fast-logo, .wallet-logo{
              background: #26AD231A;
              margin: 0 7rem;
              line-height: 7rem;
              img{
                  width: 50%;
              }
          }
      }
    }
    
    .our-services{
      background-image: url("../img/Oval\ 22.svg");
      background-size: contain; /* Adjust to your preference */
      background-position: 10% center; /* Position for the first image */
      // background-repeat: no-repeat;
      padding: 0 1rem;
      margin: 0 1rem;
      h1{
          font-family: $long-index-font;
          font-size: 38px;
          font-weight: 700;
          line-height: 42px;
          letter-spacing: 0em;
          text-align: center;
      }
      .product-category{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        width:100%;
        padding: 1rem 0;    
          #services{
            margin: 1rem 0;
              border: 3px solid #E0E0E0;
              border-radius: 1rem;
              .shipping-illustration{
                  img{
                    
                      width: 100%;
                      height: 300px;
                      border-top-left-radius: 1rem;
                      border-top-right-radius: 1rem;
                  }
              }
              .title{
                  padding: 0 1rem;
                  h2{
                    @include h2-extend;
                    font-size: 13px;
                      text-align: left;
                  }
              }
              .desc{
                  font-family: $font-index;
                  font-size: 12px;
                  font-weight: 600;
                  line-height: 15px;
                  letter-spacing: 0em;
                  padding: 0 1rem;
                  text-align: left;
              }
              .get-started{
                  padding: 2rem 1rem;
                  a{
                      text-decoration: none;
                      background: #26AD23;
                      color: white;
                      border-radius: 8px;
                      border-top-right-radius:0;
                      padding: 1rem;
                      font-family: $font-index;
                      font-size: 16px;
                      font-weight: 700;
                      line-height: 20px;
                      letter-spacing: 0em;
                      text-align: left;
    transition: ease-in-out;
                  }
                  a:hover{
                    transform: scale(0.9);
                  }
              }
          }
          // .wallet, .shop{
          //     margin: 1rem 0.50rem;
          //     border: 3px solid #E0E0E0;
          //     border-radius: 1rem;
          //     .wallet-illustration, .shop-illustration{
          //         img{
          //             width: 626px;
          //             height: 500px;
          //             border-top-left-radius: 1rem;
          //             border-top-right-radius: 1rem;
          //         }
          //     }
          //     .title{
          //         padding: 0 1rem;
          //         h2{
          //           @include h2-extend;
          //             text-align: left;
          //         }
          //     }
          //     .desc{
          //         padding: 0 1rem;
          //         font-family: $font-index;
          //         font-size: 12px;
          //         font-weight: 600;
          //         line-height: 15px;
          //         letter-spacing: 0em;
          //         text-align: left;
          //     }
          //     .get-started{
          //         padding: 2rem 1rem;
    
          //         a{
          //             text-decoration: none;
          //             background: #26AD23;
          //             color: white;
          //             border-radius: 0.50rem;
          //             padding: 1rem;
          //             font-family: $font-index;
          //             font-size: 16px;
          //             font-weight: 700;
          //             line-height: 20px;
          //             letter-spacing: 0em;
          //             text-align: left;
    
          //         }
          //     }
          // }
      }
    }
    
    .market-place{
      background-image: url("../img/Oval\ 22.svg");
      background-size: contain; /* Adjust to your preference */
      background-position: 10% center; /* Position for the first image */
      // background-repeat: no-repeat;
      padding: 0 1rem;
      margin: 0 1rem;
      h1{
          font-family: $long-index-font;
          font-size: 38px;
          font-weight: 700;
          line-height: 42px;
          letter-spacing: 0em;
          text-align: center;
      }
      .all-product{
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          .market-prodct{
              img{
                  width: 256px;
                  height: 342px;
              }
              .product-details{
                  span{
                      font-family: $sans-font;
                      font-size: 10px;
                      font-weight: 400;
                      line-height: 14px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #000000B2;
                  }
                  h3{
                      font-family: $font-index;
                      font-size: 14px;
                      font-weight: 700;
                      line-height: 19px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #000000;                    
                  }
                  p{
                    @include alinks-extend;
                      font-size: 12px;
                      font-weight: 400;
                      line-height: 15px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #202020;                    
                  }
                  h4{
                      font-family: $font-index;
                      font-size: 15px;
                      font-weight: 800;
                      line-height: 19px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #284697;
              }
          }
      }
    }
    
    }
    
    .trusted-customers{
      background-image: url("../img/Oval\ 22.svg");
      background-size: contain; /* Adjust to your preference */
      background-position: 10% center; /* Position for the first image */
      // background-repeat: no-repeat;
      background: rgba(225, 236, 225, 0.5);
      margin: 1rem 0;
      .customer-testify{
        text-align: center;
        padding: 1.5rem 0;
        h2{
          @include h2-extend;
          font-size: 38px;
          font-weight: 600;
          line-height: 42px;
          letter-spacing: 0em;
          text-align: center;      
        }
        p{
          @include alinks-extend;
          font-size: 14px;
          font-weight: 600;
          line-height: 15px;
          letter-spacing: 0em;
          text-align: center;      
        }
      }
      .memo{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 1rem;
        .customer-memo{
          background-color: $primary-index-color;
          display: grid;
          grid-template-columns: 1fr;
          margin: 0 0.50rem;
          padding: 0 1rem;
          border-radius: 15px;
          .customer-comment{
            p{
              @include alinks-extend;
              font-size: 12px;
              font-weight: 600;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: left;          
            }
          }
          .customer-details{
            display: grid;
            grid-template-columns: 15% 85%;
            img{
              height: 3rem;
              width: 3rem;
              border-radius: 50%;
            }
            h4{
              font-family: $font-index;
              font-size: 14px;
              font-weight: 700;
              line-height: 15px;
              letter-spacing: 0em;
            }
          }
        }
      }
    }
    
    .footer{
      background: rgba(17, 66, 109, 0.8);
      margin: 3rem 0 0 0;
      padding: 0;
      footer{
        padding: 3rem 0 0 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 3rem;
        .features, .company, .resources, .support{
          justify-self: center;
          h2{
            padding: 0 2rem;
            color: white;
            font-family: $footer-font;
            font-size: 22px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
          }
          ul{
            li{
              list-style-type: none;
              padding: 0.75rem 0;
              a{
                text-decoration: none;
                color: $primary-index-color;
                font-family: $footer-font;
                font-size: 14px;
                font-weight: 400;
                line-height: 13px;
                letter-spacing: 0em;
              }
            }
          }
        }
      }
      .follow-up{
        background: rgba(17, 66, 109, 0.8);
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        .social-media{
          justify-self: center;
          a{
            padding: 0.25rem 2rem;
            img{
              border: 1px solid $primary-index-color;
              border-radius: 50%;
              padding: 1rem 1rem;
            }
          }
        }
        .copyright{
          justify-self: center;
          color: $primary-index-color;
          padding: 2rem 0;
        }
      }
    }
  }
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
// Header section styles
.squaremart{
  background-image: url("../img/Oval\ 22.svg");
  background-size: contain; /* Adjust to your preference */
  background-position: 10% center; /* Position for the first image */
  // background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  .header {
    background-image: url("../img/Oval\ 22.svg");
    background-size: contain; /* Adjust to your preference */
    background-position: 10% center; /* Position for the first image */
    background-repeat: no-repeat;
    color: $secondary-index-color;
    padding: 0 20px;
    box-shadow: 0 1px 0 1px #fff;
    position: fixed;
    top: 0;
    left: 0;
  z-index: 999;
    right: 0;
    background-color: #fff;
    // Flex container for layout
    display: flex;
    justify-content: space-between;
    align-items: center;

    .squaremart-logo {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .other-page {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline;
          margin-left: 20px;
        }

        a {
          @include alinks-extend;
          color: $secondary-index-color;
        }
      }
    }

    .signing-page {
      .sign-in{
        margin-left: 20px;
        display: inline;
        a {
          @include alinks-extend;
          padding: 0 1rem;
          font-size: 17px;
          text-decoration: none;
          color: $secondary-index-color;
        }
        .sign-up{
          border: 1px solid green;
          color: green;
          line-height: 2rem;
          padding: 0.75rem;
          border-radius: 0.50rem;
        }
        .sign-up:hover{
          color: white;
          background-color: green;
        }
      }
    }
  }
  .main-page{
    background-image: url("../img/Oval\ 22.svg");
  background-size: contain; /* Adjust to your preference */
  background-position: 10% center; /* Position for the first image */
  // background-repeat: no-repeat;
    display: grid;
    // top: 50%;
    grid-template-columns: 15% 70% 15%;
    padding: 5rem 0rem;
    // position: absolute;
    .page-content{
      text-align: center;
      h2{
       @include h2-extend;
        span{
          color: rgba(38, 173, 35, 1);
        } 
      }
      p{
        @include alinks-extend;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;        
      }
    }
    .e-icon{
      margin-top: 13rem;
    }
  }
}
.our-goals{
  
  // padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 1rem;
  .fast-reliable, .online-wallet, .gift-cards{
      justify-self: center;
      .card-logo{
        background: #26AD231A;
        margin: 0 7rem;
        line-height: 7rem;
        img{
          width: 80%;
      }
      }
      .fast-logo, .wallet-logo{
          background: #26AD231A;
          margin: 0 7rem;
          line-height: 7rem;
          img{
              width: 50%;
          }
      }
  }
}

.our-services{
  background-image: url("../img/Oval\ 22.svg");
  background-size: contain; /* Adjust to your preference */
  background-position: 10% center; /* Position for the first image */
  // background-repeat: no-repeat;
  padding: 0 1rem;
  margin: 0 1rem;
  h1{
      font-family: $long-index-font;
      font-size: 38px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: center;
  }
  .product-category{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    width:100%;
   

      #services{
         
          border: 3px solid #E0E0E0;
          border-radius: 1rem;
          .shipping-illustration{
              img{
                
                  width: 100%;
                  height: 300px;
                  border-top-left-radius: 1rem;
                  border-top-right-radius: 1rem;
              }
          }
          .title{
              padding: 0 1rem;
              h2{
                @include h2-extend;
                font-size: 13px;
                  text-align: left;
              }
          }
          .desc{
              font-family: $font-index;
              font-size: 12px;
              font-weight: 600;
              line-height: 15px;
              letter-spacing: 0em;
              padding: 0 1rem;
              text-align: left;
          }
          .get-started{
              padding: 2rem 1rem;
              a{
                  text-decoration: none;
                  background: #26AD23;
                  color: white;
                  border-radius: 8px;
                  border-top-right-radius:0;
                  padding: 1rem;
                  font-family: $font-index;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: left;
transition: ease-in-out;
              }
              a:hover{
                transform: scale(0.9);
              }
          }
      }
      // .wallet, .shop{
      //     margin: 1rem 0.50rem;
      //     border: 3px solid #E0E0E0;
      //     border-radius: 1rem;
      //     .wallet-illustration, .shop-illustration{
      //         img{
      //             width: 626px;
      //             height: 500px;
      //             border-top-left-radius: 1rem;
      //             border-top-right-radius: 1rem;
      //         }
      //     }
      //     .title{
      //         padding: 0 1rem;
      //         h2{
      //           @include h2-extend;
      //             text-align: left;
      //         }
      //     }
      //     .desc{
      //         padding: 0 1rem;
      //         font-family: $font-index;
      //         font-size: 12px;
      //         font-weight: 600;
      //         line-height: 15px;
      //         letter-spacing: 0em;
      //         text-align: left;
      //     }
      //     .get-started{
      //         padding: 2rem 1rem;

      //         a{
      //             text-decoration: none;
      //             background: #26AD23;
      //             color: white;
      //             border-radius: 0.50rem;
      //             padding: 1rem;
      //             font-family: $font-index;
      //             font-size: 16px;
      //             font-weight: 700;
      //             line-height: 20px;
      //             letter-spacing: 0em;
      //             text-align: left;

      //         }
      //     }
      // }
  }
}

.market-place{
  background-image: url("../img/Oval\ 22.svg");
  background-size: contain; /* Adjust to your preference */
  background-position: 10% center; /* Position for the first image */
  // background-repeat: no-repeat;
  padding: 0 1rem;
  margin: 0 1rem;
  h1{
      font-family: $long-index-font;
      font-size: 38px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: center;
  }
  .all-product{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      .market-prodct{
          img{
              width: 256px;
              height: 342px;
          }
          .product-details{
              span{
                  font-family: $sans-font;
                  font-size: 10px;
                  font-weight: 400;
                  line-height: 14px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #000000B2;
              }
              h3{
                  font-family: $font-index;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 19px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #000000;                    
              }
              p{
                @include alinks-extend;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 15px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #202020;                    
              }
              h4{
                  font-family: $font-index;
                  font-size: 15px;
                  font-weight: 800;
                  line-height: 19px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #284697;
          }
      }
  }
}

}

.trusted-customers{
  background-image: url("../img/Oval\ 22.svg");
  background-size: contain; /* Adjust to your preference */
  background-position: 10% center; /* Position for the first image */
  // background-repeat: no-repeat;
  background: rgba(225, 236, 225, 0.5);
  margin: 1rem 0;
  .customer-testify{
    text-align: center;
    padding: 1.5rem 0;
    h2{
      @include h2-extend;
      font-size: 38px;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: center;      
    }
    p{
      @include alinks-extend;
      font-size: 14px;
      font-weight: 600;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: center;      
    }
  }
  .memo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    .customer-memo{
      background-color: $primary-index-color;
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 0.50rem;
      padding: 0 1rem;
      border-radius: 15px;
      .customer-comment{
        p{
          @include alinks-extend;
          font-size: 12px;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;          
        }
      }
      .customer-details{
        display: grid;
        grid-template-columns: 15% 85%;
        img{
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
        }
        h4{
          font-family: $font-index;
          font-size: 14px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 0em;
        }
      }
    }
  }
}

.footer{
  background: rgba(17, 66, 109, 0.8);
  margin: 3rem 0 0 0;
  padding: 0;
  footer{
    padding: 3rem 0 0 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem;
    .features, .company, .resources, .support{
      justify-self: center;
      h2{
        padding: 0 2rem;
        color: white;
        font-family: $footer-font;
        font-size: 22px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
      }
      ul{
        li{
          list-style-type: none;
          padding: 0.75rem 0;
          a{
            text-decoration: none;
            color: $primary-index-color;
            font-family: $footer-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0em;
          }
        }
      }
    }
  }
  .follow-up{
    background: rgba(17, 66, 109, 0.8);
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    .social-media{
      justify-self: center;
      a{
        padding: 0.25rem 2rem;
        img{
          border: 1px solid $primary-index-color;
          border-radius: 50%;
          padding: 1rem 1rem;
        }
      }
    }
    .copyright{
      justify-self: center;
      color: $primary-index-color;
      padding: 2rem 0;
    }
  }
}
// Media query for smaller screens
@media screen and (max-width: 1200px) {
.squaremart{
  background-image: url('../img/bg.png');
  padding: 0;
  margin: 0;
    .header {
      
      .other-page {
        ul {
          // display: none;
          // flex-direction: column;
          // background-color: $primary-index-color;
          // position: absolute;
          // width: 100%;
          // top: 100%;
          // left: 0;
          // padding: 10px;

          li {
            margin: 0;
            text-align: center;
          }

          a {
            padding: 10px;
            // display: block;
          }
        }

        // Toggle class for mobile menu
        &.active {
          ul {
            display: flex;
          }
        }
      }
    }
    .main-page{
      display: grid;
      grid-template-columns: 15% 70% 15%;
      // padding: 9rem 3rem;
      margin: 0;
      .bitcoin-icon{
        img{
          height: 12rem;
          width: 12rem;
        }
      }
      .page-content{
        text-align: center;
        h2{
          @include h2-extend;
          font-size: 48px;
          font-weight: 800;
          line-height: 75px;
          letter-spacing: 0em;
          text-align: center;
          
          
          span{
            color: rgba(38, 173, 35, 1);
          } 
        }
        p{
          @include alinks-extend;
          font-size: 16px;
          font-weight: 600;
          line-height: 23px;
          letter-spacing: 0em;
          text-align: center;        
          padding-bottom: 2rem;
        }
      }
      .e-icon{
        margin-top: 12rem;
        img{
          height: 6rem;
          width: 6rem;
        }
      }
    }
  }
  .our-goals{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin: 1rem;
    .fast-reliable, .online-wallet, .gift-cards{
        justify-self: center;
        padding: 1rem 0;
        .fast-logo, .wallet-logo, .card-logo{
            background: #26AD231A;
            margin: 0 12rem;
            line-height: 9rem;
            img{
                width: 100%;
            }
        }
    }
  }
  
  .our-services{
    padding: 0 1rem;
    margin: 0 1rem;
    h1{
        font-family: $long-index-font;
        font-size: 38px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
    }
    .product-category{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        margin: 0;
        .shipping, .gift-card{
            margin: 0;
            padding: 0;
            border: 3px solid #E0E0E0;
            border-radius: 1rem;
            .shipping-illustration, .card-illustration{
                img{
                    width: 100%;
                    height: 350px;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                }
            }
            .title{
                padding: 0 1rem;
                h2{
                    font-family: $long-index-font;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 31px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
            .desc{
                font-family: $font-index;
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
                letter-spacing: 0em;
                padding: 0 1rem;
                text-align: left;
            }
            .get-started{
                padding: 2rem 1rem;
                a{
                    text-decoration: none;
                    background: #26AD23;
                    color: white;
                    border-radius: 0.50rem;
                    padding: 1rem;
                    font-family: $font-index;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
  
                }
            }
        }
        .wallet, .shop{
            margin: 1rem 0.50rem;
            border: 3px solid #E0E0E0;
            border-radius: 1rem;
            .wallet-illustration, .shop-illustration{
                img{
                    width: 100%;
                    height: 350px;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                }
            }
            .title{
                padding: 0 1rem;
                h2{
                    font-family: $long-index-font;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 31px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
            .desc{
                padding: 0 1rem;
                font-family: $font-index;
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
                letter-spacing: 0em;
                text-align: left;
            }
            .get-started{
                padding: 2rem 1rem;
  
                a{
                    text-decoration: none;
                    background: #26AD23;
                    color: white;
                    border-radius: 0.50rem;
                    padding: 1rem;
                    font-family: $font-index;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
  
                }
            }
        }
    }
  }
  
  .market-place{
    padding: 0 1rem;
    margin: 0 1rem;
    h1{
        font-family: $long-index-font;
        font-size: 38px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
    }
    .all-product{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .market-product{
          padding: 0 0.50rem;
            img{
                width: 100%;
                height: 15rem;
            }
            .product-details{
                span{
                    font-family: $sans-font;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000B2;
                }
                h3{
                    font-family: $font-index;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;                    
                }
                p{
                    font-family: $long-index-font;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #202020;                    
                }
                h4{
                    font-family: $font-index;
                    font-size: 15px;
                    font-weight: 800;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #284697;
            }
        }
    }
  }
  
  }
}
}